body{
	background: #ccf7fe;
	padding-top: 8vh;
}
.mui-bar-nav>a{
	float: right;
	color: #666666;
}
.mui-bar-nav>h1{
	color: #666666;
}
.mui-bar-nav{
	/*padding-top: 10vh;*/
}
.hao-box{
	background: #FFFF00;
	width:100%;
	height: 200px;
	
}
